
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

# Ignore temporary LaTeX files
*.aux
*.toc


#Nuget packages folder
packages/
/Szakdoga_prototype/nbproject/private/
/Szakdoga_prototype/build/
/Gameplayer/nbproject/private/
/Gameplayer/build/
/Gameplayer/dist/